<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kluger Sim</title>
    <script defer type="module" src="{{ url_for('static', filename='main.js') }}"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div id="loadAnimation" class="w-full h-full z-1 justify-center items-center fixed" style="display:none;">
        <div class="ball flex justify-center items-center">
            <div class="ballCenter"></div>
        </div>
    </div>
    <div class="w-full flex justify-between h-95 scroll-none">
        <div class="w-2-3 h-95 scroll-y">
            <h3>Pools</h3>
            <button id="addPool">Add Pool</button>
            <div id="pools"></div>
            <h3>Lookup tables</h3>
            <button id="addLookupTable">Add Table</button>
            <div id="lookupTables"></div>
            <h3>Storage</h3>
            <button id="addStorage">Add Storage</button>
            <div id="storage"></div>
            <h3>Variables</h3>
            <button id="addVariable">Add Variable</button>
            <div id="variables"></div>
            <h3>Pipelines</h3>
            <button id="addPipeline">Add Pipeline</button>
            <div id="pipelines"></div>
            <h3>End condition</h3>
            <div id="endConditionContainer" class="mh-50px border endCondition"></div>
            <h3>Output</h3>
            <h4>Storage Outputs</h4>
            <button id="addStorageOutput">Add Storage</button>
            <div id="storageOutputs"></div>
            <h4>Variable Outputs</h4>
            <button id="addVariableOutput">Add Variable</button>
            <div id="variableOutputs"></div>
            <h3>Simulate</h3>
            <button id="simulate">Simulate</button>
        </div>
        <div class="w-1-3 relative h-95 scroll-y">
            <h3>Pipeline Functions</h3>
            <div>
                <h4>Pool functions</h4>
                <div class="draggable-item" draggable="true" data-info="PF_randomPoolElement">Random Pool Element (RPE)</div>
                <div class="draggable-item" draggable="true" data-info="PF_specificPoolElement">Specific Pool Element (SPE)</div>
                <div class="draggable-item" draggable="true" data-info="PF_resetPool">Reset Pool (RP)</div>
                <div class="draggable-item" draggable="true" data-info="PF_getTableElement">Get Table Element (GTE)</div>
                <h4>Staged functions</h4>
                <div class="draggable-item" draggable="true" data-info="PF_randomDecimalBetween">Random Decimal Between (RDB)</div>
                <h4>Storage functions</h4>
                <div class="draggable-item" draggable="true" data-info="PF_appendToStorage">Append to Storage (AS)</div>
                <div class="draggable-item" draggable="true" data-info="PF_getFirstElement">Get First Element (GFE)</div>
                <div class="draggable-item" draggable="true" data-info="PF_getLastElement">Get Last Element (GLE)</div>
                <div class="draggable-item" draggable="true" data-info="PF_getNthElement">Get Nth Element (GNE)</div>
                <h4>Math functions</h4>
                <div class="draggable-item" draggable="true" data-info="PF_Add">Add (ADD)</div>
                <div class="draggable-item" draggable="true" data-info="PF_Subtract">Subtract (SUB)</div>
                <div class="draggable-item" draggable="true" data-info="PF_Multiply">Multiply (MUL)</div>
                <div class="draggable-item" draggable="true" data-info="PF_Divide">Divide (DIV)</div>
                <div class="draggable-item" draggable="true" data-info="PF_Exponentiate">Exponentiate (EXP)</div>
                <div class="draggable-item" draggable="true" data-info="PF_Root">Root (ROOT)</div>
                <div class="draggable-item" draggable="true" data-info="PF_assignValue">Assign Value (AV)</div>
                <div class="draggable-item" draggable="true" data-info="PF_ifEqualTo">If Equal To (IfET)</div>
                <div class="draggable-item" draggable="true" data-info="PF_ifNotEqualTo">If Not Equal To (IfNET)</div>
                <div class="draggable-item" draggable="true" data-info="PF_ifGreaterThan">If Greater Than (IfGT)</div>
                <div class="draggable-item" draggable="true" data-info="PF_ifLessThan">If Less Than (IfLT)</div>
                <div class="draggable-item" draggable="true" data-info="PF_ifGreaterOrEqual">If Greater or Equal (IfGE)</div>
                <div class="draggable-item" draggable="true" data-info="PF_ifLessOrEqual">If Less or Equal (IfLE)</div>
                <h4>Pipeline functions</h4>
                <div class="draggable-item" draggable="true" data-info="PF_runPipeline">Run Pipeline (RPL)</div>
            </div>
            <h3>End Conditions</h3>
            <div>
                <div class="draggable-item" draggable="true" data-info="EC_mainPipelineRuns">Main Pipeline Runs</div>
            </div>
        </div>
    </div>
</body>
</html>